.exercise-intro{
    border: 2px solid rgb(14, 14, 15);
    background-color: brown;
    width:50%;
    padding:10px;
    margin:auto;

    && h1{
        color:white;
        font-size: 20px;
    }
}

.exercise-cards{
    border:1px solid black;
    background-color:brown;
    width:50%;
    margin:auto;

    && img{
        width:400px;
        flex-direction: row;
    }

}

