.header-container{
    border: 5px solid white;
    background-color: rgb(44, 38, 38);
    color: white;

}
.nav-button{
    background-color: grey;
    display: flex;
    justify-content:center;
    
}
.nav-area{
    display:column;
}